<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head('Tài khoản')">
</head>
<body class="ec-header-fixed ec-sidebar-fixed ec-sidebar-dark ec-header-light" id="body">
<div class="wrapper">
  <div th:replace="fragments::sidebar('users')"></div>
  <div class="ec-page-wrapper">
    <header th:replace="fragments::header('user')"></header>
    <div class="ec-content-wrapper">
      <div class="content">
        <div class="row">
          <div class="col-xl-8 col-lg-12 mx-auto">
            <div class="ec-cat-list card card-default mb-24px">
              <div th:if="${message}" class="alert alert-danger" th:text="${message}"></div>
              <div th:switch="${is_update}" class="card-body">
                <div th:case="update" class="ec-cat-form">
                  <h4>Thay đổi thông tin tài khoản</h4>
                  <form th:action="@{/admin/user/list/update/{id}(id=${ID})}" method="post" th:object="${user}" enctype="multipart/form-data">
                    <div class="form-group row">
                      <label for="fullname" class="col-12 col-form-label">Tên đầy đủ</label>
                      <div class="col-12">
                        <input id="fullname" th:field="*{fullname}" name="fullname" class="form-control here slug-title" type="text">
                      </div>
                      <label th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}" for="fullname" class="form-label text-danger"></label>
                    </div>
                    <div class="form-group row">
                      <label for="username" class="col-12 col-form-label">Tên tài khoản</label>
                      <div class="col-12">
                        <input readonly id="username" th:field="*{username}" name="username" class="form-control here slug-title" type="text">
                      </div>
                      <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" for="username" class="form-label text-danger"></label>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-form-label">Email</label>
                      <div class="col-12">
                        <input id="email" th:field="*{email}" name="email" class="form-control here slug-title" type="email">
                      </div>
                      <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" for="email" class="form-label text-danger"></label>
                    </div>
                    <div class="form-group row" hidden>
                      <label class="col-12 col-form-label">Password</label>
                      <div class="col-12">
                        <input id="password" th:field="*{password}" name="password" class="form-control here slug-title" type="hidden">
                      </div>
                      <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" for="password" class="form-label text-danger"></label>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-form-label">Hình ảnh</label>
                      <div class="col-12">
                        <input id="fileImage" name="fileImage" class="form-control here slug-title" type="file" accept="image/*" onchange="previewImage(event)">
                        <img id="imagePreview" class="mt-2 mb-2" src="#" alt="Ảnh xem trước" style="display: none; width: 200px; height: auto;">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-form-label">Chọn quyền hạn</label>
                      <select name="role" id="role" class="form-select" th:field="*{role}">
                        <option th:value="ADMIN" th:text="ADMIN"></option>
                        <option th:value="USER" th:text="USER"></option>
                      </select>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <button name="submit" type="submit" class="btn btn-primary">Sửa</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div th:case="detail" class="ec-cat-form">
                  <h4>Chi tiết tài khoản</h4>
                  <form th:object="${existUser}">
                    <div class="form-group row ">
                      <label for="fullname" class="col-12 col-form-label">Tên đầy đủ</label>
                      <div class="col-12">
                        <input readonly id="fullname" th:field="*{fullname}" name="fullname" class="form-control here slug-title" type="text">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="username" class="col-12 col-form-label">Tên tài khoản</label>
                      <div class="col-12">
                        <input readonly id="username" th:field="*{username}" name="username" class="form-control here slug-title" type="text">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email" class="col-12 col-form-label">Email</label>
                      <div class="col-12">
                        <input readonly id="email" th:field="*{email}" name="email" class="form-control here slug-title" type="text">
                      </div>
                    </div>
                    <div class="d-flex g-3">
                    <div class="col-md-6">
                      <label class="form-label">Tổng số bình luận</label>
                      <input readonly type="text" class="form-control" id="comments" th:value="${#lists.size(existUser.comments)}">
                    </div>
                    <div class="col-md-6">
                    <label class="form-label">Tổng số bài thi đã làm</label>
                    <input readonly type="text" class="form-control" id="results" th:value="${#lists.size(existUser.results)}">
                  </div></div>
                    <div class="form-group row">
                      <label class="col-12 col-form-label">Hình ảnh</label>
                      <div class="col-12">
                        <img th:src="'/image-file/' + ${existUser.image_name}" width="100px" height="100px">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-form-label">Quyền</label>
                      <select readonly name="role" id="role" class="form-select" th:field="*{role}">
                        <option th:value="ADMIN" th:text="ADMIN"></option>
                        <option th:value="USER" th:text="USER"></option>
                      </select>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <a class="btn btn-primary" th:href="@{/user/list}" type="button">Quay lại</a>
                      </div>
                    </div>
                  </form>
                </div>
                <div th:case="*" class="ec-cat-form">
                  <h4>Thêm tài khoản</h4>
                  <form action="/admin/user/list/create" method="post" th:object="${user}" enctype="multipart/form-data">
                    <div class="form-group row">
                      <label for="fullname" class="col-12 col-form-label">Tên đầy đủ</label>
                      <div class="col-12">
                        <input id="fullname" th:field="*{fullname}" name="fullname" class="form-control here slug-title" type="text">
                      </div>
                      <label th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}" for="fullname" class="form-label text-danger"></label>
                    </div>
                    <div class="form-group row">
                      <label for="username" class="col-12 col-form-label">Tên tài khoản</label>
                      <div class="col-12">
                        <input id="username" th:field="*{username}" name="username" class="form-control here slug-title" type="text">
                      </div>
                      <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" for="username" class="form-label text-danger"></label>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-form-label">Email</label>
                      <div class="col-12">
                        <input id="email" th:field="*{email}" name="email" class="form-control here slug-title" type="email">
                      </div>
                      <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" for="email" class="form-label text-danger"></label>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-form-label">Mật khẩu</label>
                      <div class="col-12">
                        <input id="password" th:field="*{password}" name="password" class="form-control here slug-title" type="password">
                      </div>
                      <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" for="password" class="form-label text-danger"></label>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-form-label">Nhập lại mật khẩu</label>
                      <div class="col-12">
                        <input id="repassword" name="repassword" class="form-control here slug-title" type="password">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-form-label">Hình ảnh</label>
                      <div class="col-12">
                        <input id="fileImage" name="fileImage" class="form-control here slug-title" type="file" accept="image/*" onchange="previewImage(event)">
                        <br><br>
                        <img id="imagePreview" src="#" alt="Ảnh xem trước" style="display: none; width: 200px; height: auto;">
                        <br><br>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-form-label">Chọn quyền hạn</label>
                      <select name="role" id="role" class="form-select" th:field="*{role}">
                          <option th:value="ADMIN" th:text="ADMIN"></option>
                        <option th:value="USER" th:text="USER"></option>
                      </select>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <button name="submit" type="submit" class="btn btn-primary">Thêm</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer th:replace="fragments::footer()"></footer>
  </div>
</div>
</body>
</html>