<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head('Tài khoản')">
</head>
<body class="ec-header-fixed ec-sidebar-fixed ec-sidebar-dark ec-header-light" id="body">
<div class="wrapper">
  <div th:replace="fragments::sidebar('users')"></div>
  <div class="ec-page-wrapper">
    <header th:replace="fragments::header()"></header>
<div class="ec-content-wrapper">
  <div class="content">
    <div class="breadcrumb-wrapper breadcrumb-contacts">
      <div>
        <h1>User List</h1>
        <p class="breadcrumbs"><span><a href="index.html">Home</a></span>
          <span><i class="mdi mdi-chevron-right"></i></span>Tài khoản
        </p>
      </div>
      <div>
        <a type="button" class="btn btn-primary align-items-center d-flex" th:href="@{/user/list/create}"> Thêm tài khoản
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ec-vendor-list card card-default">
          <div class="card-body">
            <div>
              <table id="responsive-data-table" class="table table-bordered text-center">
                <thead>
                <tr>
                  <th scope="col">Ảnh</th>
                  <th scope="col">Tên</th>
                  <th scope="col">Quyền hạn</th>
                  <th scope="col">Ngày tạo</th>
                  <th scope="col">Hành động</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="user : ${userList}">
                  <td><img  width="50px" height="50px" th:src="'/image-file/' + ${user.image_name}"/></td>
                  <td th:text="${user.fullname}"></td>
                  <td th:text="${user.role}"></td>
                  <td th:text="${user.created_at}"></td>
                  <td>
                    <div class="btn-group mb-1">
                      <a type="button"
                         class="btn btn-outline-success align-items-center d-flex"
                         th:href="@{/user/list/detail/{id}(id=${user.id})}">Chi tiết</a>
                      <button type="button"
                              class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
                              data-bs-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false" data-display="static">
                        <span class="sr-only">Info</span>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item"
                           th:href="@{/user/list/update/{id}(id=${user.id})}">Sửa</a>
                        <a class="dropdown-item"
                           th:href="@{/user/list/delete/{id}(id=${user.id})}">Xóa</a>
                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <footer th:replace="fragments::footer()"></footer>
  </div>
  </div>
</body>
</html>