<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head('Chi tiết bài thi')">
</head>
<body class="ec-header-fixed ec-sidebar-fixed ec-sidebar-dark ec-header-light" id="body">
<header class="header text-center" style=" background-color: black; padding: 15px; position: sticky; top: 0; z-index: 1000;">
  <div class="row">
    <button class="text-left btn btn-secondary col-1" onclick="goBack()">Quay lại</button>
    <h2 style="color: white;" class="col-10" th:text="'Điểm của bạn: ' + ${score}"></h2>
  </div>

</header>
<h2 th:text="${exam.title}" class="text-center mt-4"></h2>
<div class="wrapper justify-content-center">
  <div class="ec-content-wrapper">
    <div class="content">
      <div class="row">
        <div class="col-xl-10 col-lg-10 mx-auto">
          <div class="ec-cat-list card card-default mb-24px">
            <div class="card-body">
              <div class="ec-cat-form">
                <form id="form">
                  <div th:each="question, iterStat : ${questionList}" class="allQuestion"
                       th:id="'question-' + ${iterStat.count}">
                    <p th:text="'Câu ' + ${iterStat.count} + ': '+${question.question_text}"></p>
                    </br>
                    <div class="d-flex justify-content-center">
                      <img th:if="${question.image_name != null && !question.image_name.isEmpty()}"
                           th:src="'/image-file/' + ${question.image_name}"
                           width="400px" height="300px">
                    </div>
                    </br>
                    <div th:each="option, iter : ${question.options}" class="d-flex align-items-center mb-4 ">
                      <input style="width: 15px; height: 15px; margin-right: 5px" type="radio" disabled
                             th:name="'answers[' + ${iterStat.index} + ']'"
                             th:id="'option' +${iter.count}"
                             th:value="${option.id}"
                             th:checked="${answerList.get(iterStat.index).option != null && option.id == answerList.get(iterStat.index).option.id}">
                      <p th:text="${option.option_text}"></p>
                      <img th:if="${option.is_correct}"
                           src="https://png.pngtree.com/png-vector/20230910/ourmid/pngtree-3d-tick-sign-icon-png-image_9225323.png"
                           style="width: 15px; height:15px;"
                      class="ml-3">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-2 mx-auto" >
          <div class="ec-cat-list card card-default mb-24px">
            <div class="card-body">
              <h4>Bảng câu hỏi</h4>
              <div class="mt-3 d-flex flex-wrap" >
                <div th:each="i : ${#numbers.sequence(1,exam.total_question)}" >
                  <button class="btn-exam" name="action"
                          th:onclick="|updateIndex(${i})|"
                          th:value="${i}"
                          th:text="${i}"
                          th:id="'button'+ ${i}"
                          th:classappend="${answers.get(i - 1) ? 'btn-success' : 'btn-danger'}"/>

                </div>
              </div>
              <br/>
              <div class="d-flex justify-content-between">
                <button name="action" onclick="decrement()">Câu trước</button>
                <button name="action" th:onclick="|increment(${exam.total_question})|">Câu tiếp</button>
              </div>
          </div>
        </div>

      </div>
    </div>
  </div>



</div>
<!--<div class="wrapper justify-content-center">-->
<!--  <div class="ec-content-wrapper">-->
<!--    <div class="content">-->
<!--      <div class="row">-->
<!--        <div class="col-xl-9 col-lg-9 mx-auto">-->
<!--          <div class="ec-cat-list card card-default mb-24px">-->
<!--            <div class="card-body">-->
<!--              <div class="ec-cat-form">-->
<!--                <form th:action="@{/doExam(examId=${examId})}"-->
<!--                      method="post" th:object="${answers}" id="form">-->
<!--                  <div th:each="question, iterStat : ${questionList}" class="allQuestion"-->
<!--                       th:id="'question-' + ${iterStat.count}">-->
<!--                    <p th:text="'Câu ' + ${iterStat.count} + ': '+${question.question_text}"></p>-->
<!--                    </br>-->
<!--                    <div class="d-flex justify-content-center">-->
<!--                      <img th:if="${question.image_name != null && !question.image_name.isEmpty()}"-->
<!--                           th:src="'/image-file/' + ${question.image_name}"-->
<!--                           width="400px" height="300px">-->
<!--                    </div>-->
<!--                    </br>-->
<!--                    <div th:each="option, iter : ${question.options}" class="d-flex align-items-center mb-4">-->
<!--                      <input style="width: 15px; height: 15px; margin-right: 5px" type="radio"-->
<!--                             th:name="'answers[' + ${iterStat.index} + '].option_id'"-->
<!--                             th:id="'option' +${iter.count}"-->
<!--                             th:value="${option.id}"-->
<!--                             th:field="*{answerDtoList[__${iterStat.index}__].option_id}">-->
<!--                      <p th:text="${option.option_text}"></p>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </form>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-xl-3 col-lg-3 mx-auto" >-->
<!--          <div class="ec-cat-list card card-default mb-24px">-->
<!--            <div class="card-body">-->
<!--              <h4>Bảng câu hỏi</h4>-->
<!--              <div class="mt-3 d-flex flex-wrap" >-->
<!--                <div th:each="i : ${#numbers.sequence(1,exam.total_question)}" >-->
<!--                  <button class="btn-exam" name="action"-->
<!--                          th:onclick="|updateIndex(${i})|"-->
<!--                          th:value="${i}"-->
<!--                          th:text="${i}"/>-->
<!--                  &lt;!&ndash;                                                th:classappend="${answers.get(i - 1).option_id != null ? 'btn-success' : ''}"&ndash;&gt;-->

<!--                </div>-->
<!--              </div>-->
<!--              <br/>-->
<!--              <div class="row">-->
<!--                <div class="col-9">-->
<!--                  <button name="action" onclick="decrement()">Câu trước</button>-->
<!--                </div>-->
<!--                <button name="action" th:onclick="|increment(${exam.total_question})|">Câu tiếp</button>-->
<!--              </div>-->
<!--              <div>-->
<!--                <button type="submit" name="finish" onclick="stopCountdown(event)">Hoàn thành</button></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->



</div>
<footer th:replace="fragments::footerCustomer()"></footer>

<script>
  let index = 1;
  increment = (max)=>{
    if (index < max){
      index++;
      updateVisibility();}
  }
  decrement = ()=>{
    if (index > 1){
      index--;
      updateVisibility();}
  }

  updateIndex = (value)=>{
    index = value;
    updateVisibility();
  }

  updateVisibility = () =>{
    let allQuestion = document.querySelectorAll(".allQuestion")
    allQuestion.forEach((question) =>{
      question.style.display = 'none';
    });
    let currentQuestion = document.getElementById('question-' + index);
    if (currentQuestion) {
      currentQuestion.style.display = 'block';
    }

  }
  window.onload = ()=>{
    updateVisibility();
  }
  function goBack() {
    window.history.back();
  }
</script>
</body>
</html>