<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="fragments::head('Thông tin người dùng')">
</head>
<body class="ec-header-fixed ec-sidebar-fixed ec-sidebar-dark ec-header-light" id="body">
<div class="wrapper">
  <div th:replace="fragments::sidebarCustomer('topics',${subjectList})"></div>
  <div class="ec-page-wrapper">
    <header th:replace="fragments::headerCustomer(${subjectList})"></header>
    <div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row ec_breadcrumb_inner mb-3 ml-2">
              <div class="col-md-6 col-sm-12">
                <h2 class="ec-breadcrumb-title">Thông tin người dùng</h2>
              </div>
              <div th:replace="fragments::goToHome('profile')"></div>
            </div>
          </div>
        </div>
        <div th:if ="${message} != null">
          <div class="alert alert-success mb-3 small" role="alert">
            <span th:text="${message}"/>
          </div>
        </div>
      </div>
    </div>

    <section class="ec-page-content ec-vendor-uploads ec-user-account section-space-p">
      <div class="container">
        <div class="row">
          <div th:replace="fragments::leftside('profile')"></div>
          <div class="ec-shop-rightside col-lg-9 col-md-12">
            <div class="ec-vendor-dashboard-card ec-vendor-setting-card">
              <div class="ec-vendor-card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="ec-vendor-block-profile">
                      <div class="ec-vendor-block-img space-bottom-30">
                        <div class="ec-vendor-block-detail">
                          <th:block th:switch="${user.image_name == null}">
                            <img th:case="${false}" class="v-img" th:src="'/image-file/' + ${user.image_name}" alt="vendor image">
                            <img th:case="${true}"
                                 src="https://png.pngtree.com/png-clipart/20210608/ourlarge/pngtree-white-silhouette-avatar-png-image_3418408.jpg"
                                 alt="Avatar" class="v-img">
                          </th:block>
<!--                          <img class="v-img" th:src="'/image-file/' + ${user.image_name}" alt="vendor image">-->
                          <h5 class="name" sec:authentication="principal.user.fullname"></h5>
                        </div>
                      </div>
                      <h5>Thông tin tài khoản</h5>
                      <div class="row d-flex justify-content-center text-center ">
                        <div class="col-md-8 col-sm-12">
                          <h6>Email: </h6>
                          <div class="ec-vendor-detail-block space-bottom-30">
                            <h6 th:text="${'******' + #strings.substring(user.email, user.email.indexOf('@'))}"></h6>
                          </div>
                        </div>
<!--                        <div class="col-md-8 col-sm-12">-->
<!--                          <h6>Contact nubmer: </h6>-->
<!--                          <div class="ec-vendor-detail-block space-bottom-30 ">-->
<!--                            <h6>abc</h6>-->
<!--                          </div>-->
<!--                        </div>-->
                        <div class="text-right"><a href="javasript:void(0)" class="btn-primary" style="padding: 2px 4px ; border: 3px solid dimgray;" type="button" title="Edit Detail">Edit <img src="/images/icons/edit.svg" class="svg_img pro_svg" alt="edit"/></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <footer th:replace="fragments::footerCustomer()"></footer>
  </div>
</div>
</body>
</html>