<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head('Đăng nhập')">
</head>
<body class="ec-header-fixed ec-sidebar-fixed ec-sidebar-dark ec-header-light" id="body">
<div class="wrapper">
    <div th:replace="fragments::sidebarCustomer('login',${subjectList})"></div>
    <div class="ec-page-wrapper">
        <header th:replace="fragments::headerCustomer(${subjectList})"></header>
        <div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="row ec_breadcrumb_inner mb-3 ml-2">
                            <div class="col-md-6 col-sm-12">
                                <h2 class="ec-breadcrumb-title">Đăng nhập</h2>
                            </div>
                            <div th:replace="fragments::goToHome('login')"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="ec-page-content ec-vendor-uploads ec-user-account section-space-p">
            <div class="container">
                <div class="row">
                    <section class="ec-page-content section-space-p">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <div class="section-title">
                                        <h2 class="ec-bg-title">Đăng nhập</h2>
                                        <h2 class="ec-title">Đăng nhập</h2>
                                    </div>
                                </div>
                                <div th:if ="${errorMessage} != null">
                                    <div class="alert alert-danger mb-3 small" role="alert">
                                        <span th:text="${errorMessage}"/>
                                    </div>
                                </div>
                                <div th:if ="${message} != null">
                                    <div class="alert alert-success mb-3 small" role="alert">
                                        <span th:text="${message}"/>
                                    </div>
                                </div>
                                <div class="ec-login-wrapper">
                                    <div class="ec-login-container">
                                        <div class="ec-login-form">
                            <form action="/doLogin" method="post">
                                <span class="ec-login-wrap">
                                    <label>Email*</label>
                                    <input type="text" name="username" placeholder="Mời bạn nhập email..." required />
                                </span>
                                                <span class="ec-login-wrap">
                                    <label>Mật khẩu*</label>
                                    <input type="password" name="password" placeholder="Mời bạn nhập mật khẩu" required />
                                </span>
                                <span class="ec-login-wrap ec-login-fp">
                                    <label><a href="/forgotPassword">Quên mật khẩu?</a></label>
                                </span>
                                                <span class="ec-login-wrap ec-login-btn">
                                    <button class="btn btn-primary" type="submit">Đăng nhập</button>
                                    <a href="/register" class="btn btn-secondary">Đăng ký</a>
                                </span>
                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
        <footer th:replace="fragments::footerCustomer()"></footer>
    </div>
</div>
</body>
</html>