<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head('Môn thi')">
</head>
<body class="ec-header-fixed ec-sidebar-fixed ec-sidebar-dark ec-header-light" id="body">
<div class="wrapper">
    <div th:replace="fragments::sidebar('subjects')"></div>
    <div class="ec-page-wrapper">
        <header th:replace="fragments::header('subject')"></header>
        <div class="ec-content-wrapper">
            <div class="content">
        <div class="row">
            <div class="col-xl-8 col-lg-12 mx-auto">
                <div class="ec-cat-list card card-default mb-24px">
                    <div class="card-body">
                        <div class="ec-cat-form">
                            <h4>Chỉnh sửa môn thi</h4>
                            <form th:action="@{/admin/subject/update/{id}(id=${ID})}" method="post" th:object="${subject}" enctype="multipart/form-data">
                                <div class="form-group row">
                                    <label for="thumb" class="col-12 col-form-label">Ảnh</label>
                                    <div class="col-12" >
                                        <input id="thumb" name="fileImage" class="form-control" type="file"  accept="image/*" onchange="previewImage(event,1)">
                                        <br><br>
                                        <img id="imagePreview1" src="#" alt="Ảnh xem trước" style="display: none; width: 200px; height: auto;">
                                        <br><br>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="name" class="col-12 col-form-label">Tên môn thi</label>
                                    <div class="col-12">
                                        <input id="name" th:field="*{name}" name="text" class="form-control here slug-title" type="text">
                                    </div>
                                    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" for="name" class="form-label text-danger"></label>
                                </div>
                                <div class="form-group row">
                                    <label for="name" class="col-12 col-form-label">Trạng thái</label>
                                    <select name="status" id="status" class="form-select" th:field="*{status}">
                                        <option th:value="${0}">Không kích hoạt</option>
                                        <option th:value="${1}">Kích hoạt</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-between">
                                        <button name="submit" type="submit" class="btn btn-primary">Sửa</button>
                                        <a class="btn btn-secondary" type="button" href="/admin/subject">Quay lại</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>

        <footer th:replace="fragments::footer()"></footer>
    </div>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>