<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head('Bài thi')">
</head>
<body class="ec-header-fixed ec-sidebar-fixed ec-sidebar-dark ec-header-light" id="body">
<div class="wrapper">
    <div th:replace="fragments::sidebar('exams')"></div>
    <div class="ec-page-wrapper">
        <header th:replace="fragments::header('exam')"></header>
        <div class="ec-content-wrapper">
         <div class="content">
          <div class="row">
            <div class="col-xl-8 col-lg-12 mx-auto">
                <div class="ec-cat-list card card-default mb-24px">
                    <div th:switch="${is_update}" class="card-body">
                        <div th:case="update" class="ec-cat-form">
                            <h4>Sửa thông tin bài thi</h4>
                            <form action="/admin/exam/update" method="post" th:object="${existExam}">
                                <div class="form-group row">
                                    <label for="title" class="col-12 col-form-label">Tiêu đề</label>
                                    <div class="col-12">
                                        <input id="title" th:field="*{title}" name="title" class="form-control here slug-title" type="text">
                                    </div>
                                    <label th:if="${#fields.hasErrors('title')}" th:errors="*{title}" for="title" class="form-label text-danger"></label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-form-label">Chọn chủ đề</label>
                                    <select name="topic_id" id="topic_id" class="form-select" th:field="*{topic_id}">
                                        <th:block th:each="topic : ${topicList}">
                                            <option th:value="${topic.id}" th:text="${topic.name}"></option>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-form-label">Trạng thái</label>
                                    <select name="status" id="status" class="form-select" th:field="*{status}">
                                        <option th:value="${0}">Không kích hoạt</option>
                                        <option th:value="${1}">Kích hoạt</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <button name="submit" type="submit" class="btn btn-primary">Sửa</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div th:case="*" class="ec-cat-form">
                            <h4>Thêm bài thi</h4>
                                <form action="/admin/exam/create" method="post" th:object="${exam}">
                                    <div class="form-group row">
                                        <label for="title" class="col-12 col-form-label">Tiêu đề</label>
                                        <div class="col-12">
                                            <input id="title" th:field="*{title}" name="title" class="form-control here slug-title" type="text">
                                        </div>
                                        <label th:if="${#fields.hasErrors('title')}" th:errors="*{title}" for="title" class="form-label text-danger"></label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-12 col-form-label">Chọn số câu hỏi</label>
                                        <select name="total_question" id="total_question" class="form-select" th:field="*{total_question}">
                                            <option th:value="10" th:text="'10 câu'"></option>
                                            <option th:value="30" th:text="'30 câu'"></option>
                                            <option th:value="40" th:text="'40 câu'"></option>
                                            <option th:value="50" th:text="'50 câu'"></option>
                                        </select>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-12 col-form-label">Chọn chủ đề</label>
                                        <select name="topic_id" id="topic_id" class="form-select" th:field="*{topic_id}">
                                            <th:block th:each="topic : ${topicList}">
                                                <option th:value="${topic.id}" th:text="${topic.name}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <button name="submit" type="submit" class="btn btn-primary">Tiếp</button>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
          </div>
         </div>
        </div>

        <footer th:replace="fragments::footer()"></footer>
    </div>
</div>
</body>
</html>