<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head('Exams')">
</head>
<body class="ec-header-fixed ec-sidebar-fixed ec-sidebar-dark ec-header-light" id="body">
<div class="wrapper">
  <div th:replace="fragments::sidebar('exams')"></div>
  <div class="ec-page-wrapper">
    <header th:replace="fragments::header()"></header>
    <div class="ec-content-wrapper">
      <div class="content">
        <div class="row">
          <div class="col-xl-8 col-lg-12 mx-auto">
            <div class="ec-cat-list card card-default mb-24px">
              <div class="card-body">
                <div class="ec-cat-form">
                  <h4 th:text="'Câu hỏi số ' + ${currentIndex + 1}"></h4>
                  <form th:action="@{/exam/createQandA(examId=${examId}, currentIndex=${currentIndex})}" method="post" th:object="${currentQuestion}">
                    <div class="form-group row">
                      <label class="col-12 col-form-label">Nội dung câu hỏi:</label>
                      <div class="col-12">
                        <textarea id="question_text" name="question_text" cols="40" rows="2" class="form-control" th:field="*{question_text}"></textarea>
                      </div>
                      <label th:if="${#fields.hasErrors('question_text')}" th:errors="*{question_text}" for="question_text" class="form-label text-danger"></label>
                    </div>
                    <div th:each="option, iterStat : ${currentQuestion.options}">
                    <div class="form-group row">
                      <div class="d-flex">
                        <label for="option_text">Lựa chọn:</label>
                        <input type="text" id="option_text" name="option_text" th:field="*{options[__${iterStat.index}__].option_text}" placeholder="Enter answer" required class="mr-1"/>
                      </div>
                      <label th:if="${#fields.hasErrors('options[__${iterStat.index}__].option_text')}" th:errors="*{options[__${iterStat.index}__].option_text}" for="option_text" class="form-label text-danger"></label>
                    </div>
                </div>
                    <div class="form-group row">
                      <label class="col-12 col-form-label">Đáp án đúng:</label>
                      <select name="correct" id="correct" class="form-select">
                        <th:block th:each="i : ${#numbers.sequence(1,4)}">
                          <option th:value="${i - 1}" th:text="'Đáp án ' + ${i}"></option></th:block>
                      </select>
                    </div>
                    <div class="row">
                      <div class="col-10">
                        <button type="submit" th:disabled="${currentIndex == 0}" name="action" value="back">Back</button>
                      </div>
                    <div class="col-2" th:switch="${currentIndex == (exam.total_question - 1)}">
                    <button th:case="${false}" type="submit" name="action" value="next">Next</button>
                    <button th:case="${true}" type="submit" name="finish" value="true">Finish</button>
                    </div>
                      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <footer th:replace="fragments::footer()"></footer>
  </div>
</div>
</body>
</html>