<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="fragments::head('Đề thi')">
</head>
<body class="ec-header-fixed ec-sidebar-fixed ec-sidebar-dark ec-header-light" id="body">
<div class="wrapper">
  <div th:replace="fragments::sidebar('exams')"></div>
  <div class="ec-page-wrapper">
    <header class="ec-main-header" id="header">
      <nav class="navbar navbar-static-top navbar-expand-lg">
        <!-- Sidebar toggle button -->
        <button id="sidebar-toggler" class="sidebar-toggle"></button>
        <!-- search form -->
        <div class="search-form d-lg-inline-block">

          <form th:action="@{/admin/exam(subject=${subjectIndex}, topic=${topicIndex})}" method="post" >
            <div class="input-group">
              <input type="text" name="query" id="search-input" class="form-control"
                     th:value="${query}"
                     placeholder="search.." autofocus autocomplete="off" />
              <button type="button" name="search" id="search-btn" class="btn btn-flat">
                <i class="mdi mdi-magnify"></i>
              </button>
            </div>
          </form>
          <div id="search-results-container">
            <ul id="search-results"></ul>
          </div>
        </div>
        <!-- navbar right -->
        <div class="navbar-right">
          <ul class="nav navbar-nav">
            <!-- User Account -->
            <li sec:authorize="isAuthenticated()" class="dropdown user-menu">
              <button class="dropdown-toggle nav-link ec-drop" data-bs-toggle="dropdown"
                      aria-expanded="false">
                <th:block th:switch="${#authentication.principal.user.image_name == null}">
                  <img th:case="${false}" th:src="@{/image-file/{image_name}(image_name=${#authentication.principal.user.image_name})}"
                       class="user-image" alt="User Image" >
                  <img th:case="${true}"
                       src="https://png.pngtree.com/png-clipart/20210608/ourlarge/pngtree-white-silhouette-avatar-png-image_3418408.jpg"
                       class="user-image" alt="User Image" >
                </th:block>
              </button>
              <ul class="dropdown-menu dropdown-menu-right ec-dropdown-menu">
                <li class="dropdown-header">
                  <th:block th:switch="${#authentication.principal.user.image_name == null}">
                    <img th:case="${false}" th:src="@{/image-file/{image_name}(image_name=${#authentication.principal.user.image_name})}"
                         class="user-image" alt="User Image" >
                    <img th:case="${true}"
                         src="https://png.pngtree.com/png-clipart/20210608/ourlarge/pngtree-white-silhouette-avatar-png-image_3418408.jpg"
                         class="user-image" alt="User Image" >
                  </th:block>
                  <div class="d-inline-block" sec:authentication="principal.user.fullname">
                    <small class="pt-1"></small>
                  </div>
                </li>
                <li>
                  <a href="/profile"> <i class="mdi mdi-account"></i> Thông tin chi tiết </a>
                </li>
                <li>
                  <a href="/profile/history"> <i class="mdi mdi-palette-advanced"></i> Lịch sử bài thi </a>
                </li>
                <li>
                  <a href="/profile/changePassword"> <i class="mdi mdi-settings-outline"></i> Đổi mật khẩu </a>
                </li>
                <li class="dropdown-footer">
                  <a href="/logout"> <i class="mdi mdi-logout"></i> Đăng xuất </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="ec-content-wrapper">
      <div class="content">
        <div class="breadcrumb-wrapper breadcrumb-wrapper-2 breadcrumb-contacts">

          <h1>Đề thi</h1>
          <p class="breadcrumbs"><span><a href="/admin/dashboard">Dashboard</a></span>
            <span><i class="mdi mdi-chevron-right"></i></span>Đề thi</p>
        </div>
        <div th:if="${message}" class="alert alert-success" th:text="${message}"></div>
        <div class="row">
          <div class="col-xl-12 col-lg-12">
            <div class="ec-cat-list card card-default">
              <div class="card-body">
                <div class="col-md-12 text-center">
                  <ul class="ec-pro-tab-nav nav justify-content-center">
                    <li class="nav-item" th:each="subject, iterStat : ${subjectList}">
                      <a class="nav-link"
                         th:href="@{/admin/exam(subject=${iterStat.index})}"
                         th:text="${subject.name}"
                         th:classappend="${subjectIndex == iterStat.index} ? 'active' : ''">
                      </a>
                    </li>
                  </ul>
                </div>

                <div>
                <div style="display: flex; justify-content: space-between ">
                    <th:block th:switch="${currentTopic == null}">
                        <h4 th:case="${true}" th:text="'Chưa có bài thi nào'"></h4>
                        <h4 th:case="${false}" th:text="${currentTopic.name}"></h4>
                    </th:block>
                  <div>
                    <a type="button" class="btn btn-primary align-items-center d-flex" th:href="@{/admin/exam/create}" > Thêm đề thi
                    </a>
                  </div>
                </div>
                <div>
                  <table id="responsive-data-table" class="table table-bordered text-center">
                    <thead>
                    <tr>
                      <th scope="col">STT</th>
                      <th scope="col">Tiêu đề</th>
                      <th scope="col">Tổng số câu hỏi</th>
                      <th scope="col">Thời gian làm bài</th>
                      <th scope="col">Trạng thái đề thi</th>
                      <th scope="col">Hành động</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="exam, iterStat : ${response.getContent()}">
                      <td th:text="${iterStat.count}"></td>
                      <td th:text="${exam.title}"></td>
                      <td th:text="${exam.total_question}"></td>
                      <td th:text="${exam.duration}/60 + ' phút'"></td>
                      <td th:text="${exam.status == 1 ? 'Kích hoạt' : 'Không kích hoạt'}"></td>
                      <td>
                        <div class="btn-group">
                          <a type="button"
                                  class="btn btn-outline-success align-items-center d-flex"
                          th:href="@{/admin/exam/detail(subject=${subjectIndex}, topic=${topicIndex}, exam=${iterStat.index})}"
                          >Chi tiết</a>
                          <button type="button"
                                  class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
                                  data-bs-toggle="dropdown" aria-haspopup="true"
                                  aria-expanded="false" data-display="static">
                            <span class="sr-only">Info</span>
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item"
                               th:href="@{/admin/exam/update(examId=${exam.id})}"
                               role="button">Sửa</a>
<!--                            <a class="dropdown-item"-->
<!--                               th:href="@{/admin/exam}"-->
<!--                               role="button">Sửa nội dung</a>-->
                            <a class="dropdown-item"
                               th:href="@{/admin/exam/delete(examId=${exam.id})}"
                               role="button"
                               onclick="return confirm('Bạn có muốn xóa?')">Xóa</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>

                </div>
                  </br>
                  <div>
                    <a type="button" class="btn btn-primary" th:if="${topicIndex > 0}" th:href="@{/admin/exam(subject=${subjectIndex}, topic=${topicIndex - 1})}" > Chủ đề trước
                    </a>
                    <a type="button" class="btn btn-primary" th:if="${topicIndex < (totalTopic - 1)}" th:href="@{/admin/exam(subject=${subjectIndex}, topic=${topicIndex + 1})}" > Chủ đề sau
                    </a>
                  </div>
                </br>
              </div>

              </div>
              <nav class="mt-3 mb-5" th:if="${response.getTotalPages() > 0}">
                <ul class="pagination justify-content-center">
                  <li th:if="${response.getPageable().getPageNumber() > 0}" class="page-item mx-1">
                    <a class="btn btn-outline-success"
                       th:href="@{/admin/exam(subject=${subjectIndex}, topic=${topicIndex}, page=${response.getPageable().getPageNumber()}, perpage=${response.getSize()})}"
                    >
                      Trang trước
                    </a>
                  </li>
                  <li class="page-item" th:each="pageNo : ${#numbers.sequence(0, response.getTotalPages() - 1)}">
                    <a class="btn btn-outline-secondary" th:classappend="${response.getPageable().getPageNumber() == pageNo ? 'active-page' : ''}"
                       th:href="@{/admin/exam(subject=${subjectIndex}, topic=${topicIndex}, page=${pageNo + 1}, perpage=${response.getSize()})}"
                       th:text="${pageNo + 1}"
                    >
                    </a>
                  </li>
                  <li th:if="${response.getPageable().getPageNumber() < (response.getTotalPages() - 1)}" class="page-item mx-1">
                    <a class="btn btn-outline-success"
                       th:href="@{/admin/exam(subject=${subjectIndex}, topic=${topicIndex}, page=${response.getPageable().getPageNumber() + 2}, perpage=${response.getSize()})}">
                      Trang sau
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer th:replace="fragments::footer()"></footer>
  </div>
</div>
</body>
</html>