<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head('Bài kiểm tra')">

</head>
<body class="ec-header-fixed ec-sidebar-fixed ec-sidebar-dark ec-header-light" id="body">
<header class="header text-center" style=" background-color: black; padding: 15px; position: sticky; top: 0; z-index: 1000;">
    <input type="hidden" id="endTime" th:value="${endTime}" name="endTime">
    <input type="hidden" id="totalQuestion" th:value="${questionList.size()}" name="totalQuestion">
    <h2 style="color: white;">Thời gian còn lại: <span id="countdown">Đang tải...</span></h2>
</header>

<h2 th:text="${exam.title}" class="text-center mt-4"></h2>
<h4 class="text-center mt-2 text-danger">*Vui lòng không thoát khỏi trình duyệt hoặc trang hiện tại khi chưa nộp bài.
    Nếu vô ý hoặc cố tình, bài thi sẽ tự động được nộp.</h4>
<div class="wrapper justify-content-center">
        <div class="ec-content-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-xl-9 col-lg-9 mx-auto">
                        <div class="ec-cat-list card card-default mb-24px">
                            <div class="card-body">
                                <div class="ec-cat-form">
                                    <form th:action="@{/doExam(examId=${examId})}"
                                          method="post" th:object="${answers}" id="form">
                                    <div th:each="question, iterStat : ${questionList}" class="allQuestion"
                                    th:id="'question-' + ${iterStat.count}">
                                        <p th:text="'Câu ' + ${iterStat.count} + ': '+${question.question_text}"></p>
                                        </br>
                                        <div class="d-flex justify-content-center">
                                            <img th:if="${question.image_name != null && !question.image_name.isEmpty()}"
                                                 th:src="'/image-file/' + ${question.image_name}"
                                                    width="400px" height="300px">
                                        </div>
                                        </br>
                                            <div th:each="option, iter : ${question.options}" class="d-flex align-items-center mb-4">
                                            <input style="width: 15px; height: 15px; margin-right: 5px" type="radio"
                                                   th:name="'answers[' + ${iterStat.index} + ']'"
                                                   th:id="'option' +${iter.count}"
                                                   th:value="${option.id}"
                                                   th:field="*{answerDtoList[__${iterStat.index}__].option_id}"
                                            th:data-button-id="'button'+ ${iterStat.count}">
                                            <p th:text="${option.option_text}"></p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 mx-auto" >
                        <div class="ec-cat-list card card-default mb-24px">
                            <div class="card-body">
                                <h4>Bảng câu hỏi</h4>
                                <div class="mt-3 d-flex flex-wrap" >
                                    <div th:each="i : ${#numbers.sequence(1,exam.total_question)}" >
                                        <button class="btn-exam" name="action"
                                                th:onclick="|updateIndex(${i})|"
                                                th:value="${i}"
                                                th:text="${i}"
                                                th:id="'button'+ ${i}"/>
<!--                                                th:classappend="${answers.get(i - 1).option_id != null ? 'btn-success' : ''}"-->

                                    </div>
                                </div>
                                <br/>
                                <div class="d-flex justify-content-between">
                                        <button name="action" onclick="decrement()">Câu trước</button>
                                        <button name="action" th:onclick="|increment(${exam.total_question})|">Câu tiếp</button>
                                </div>
                                <div>
                                <button type="submit" name="finish" onclick="stopCountdown(event)">Hoàn thành</button></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



</div>
    <footer th:replace="fragments::footerCustomer()"></footer>
<script>
    let timer;
    let remainingTime;
    let formSubmitted = false;
    const form = document.getElementById('form');
     getSubmitTime = (e)=>{
         const submitTime = sessionStorage.getItem("remainingTime");

         // Tạo một hidden input chứa thời gian
         const timeInput = document.createElement('input');
         timeInput.type = 'hidden';
         timeInput.name = 'submitTime';
         timeInput.value = submitTime;
         form.appendChild(timeInput);
         formSubmitted = true;
         clearInterval(timer);  // Ngừng bộ đếm ngược
         sessionStorage.removeItem("remainingTime");
         if (e == true){
             // const xhr = new XMLHttpRequest();
             // xhr.open("POST", form.action, true);
             // xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
             // xhr.send(new URLSearchParams(new FormData(form)).toString());
             fetch(form.action, {
                 method: "POST",
                 headers: {
                     "Content-Type": "application/x-www-form-urlencoded"
                 },
                 body: new URLSearchParams(new FormData(form)).toString()
             })
                 .catch(error => console.error(error));
         }else form.submit();

     }

    window.addEventListener("beforeunload", function (event) {
        if (!formSubmitted) {
            event.preventDefault();
            event.returnValue = ""; //Hiển thị pop up cảnh báo
        }

    });
    window.addEventListener("unload", function (event){
        event.preventDefault();
        if (sessionStorage.getItem('isReloading')) {
        getSubmitTime(true);}
        });
    if (sessionStorage.getItem('isReloading')) {
        window.addEventListener('load', function() {
                setTimeout(function() {
                    sessionStorage.removeItem('isReloading');
                    window.location.replace("http://localhost:8080/profile/history");
                    // history.replaceState(null, null, location.href);
                }, 1000);  // Sau 1 giây khi trang đã load
        });
    } else {
        sessionStorage.setItem('isReloading', 'true');
    }

    window.addEventListener('popstate', function() {
        history.replaceState(null, null, location.href);
    });

    // Hàm để tính toán và hiển thị bộ đếm ngược
    function startCountdown() {
        // Lấy thời gian kết thúc từ server
        const endTimeValue = document.getElementById("endTime").value;

        // Kiểm tra nếu endTime là hợp lệ
        const endTime = new Date(endTimeValue).getTime(); // Chuyển đổi giá trị endTime thành đối tượng Date

        if (isNaN(endTime)) {
            console.error("End time không hợp lệ:", endTimeValue);
            return;
        }

        // Nếu có thời gian còn lại trong sessionStorage, sử dụng nó
        if (sessionStorage.getItem("remainingTime")) {
            remainingTime = parseInt(sessionStorage.getItem("remainingTime"));
        } else {
            remainingTime = endTime - new Date().getTime();
        }

        // Cập nhật bộ đếm ngược mỗi giây
        const countdownElement = document.getElementById("countdown");

        function updateCountdown() {
            if (remainingTime <= 0) {
                countdownElement.innerHTML = "Thời gian đã hết!";
                // Nếu người dùng xác nhận, gửi form nộp bài
                getSubmitTime(false)
            } else {
                const secondsLeft = Math.floor(remainingTime / 1000);
                const minutes = Math.floor(secondsLeft / 60);
                const seconds = secondsLeft % 60;

                countdownElement.innerHTML = minutes + " phút " + seconds + " giây";
                remainingTime -= 1000;  // Giảm thời gian còn lại mỗi giây
                sessionStorage.setItem("remainingTime", remainingTime);  // Lưu thời gian còn lại vào sessionStorage
            }
        }

        // Cập nhật mỗi giây
        timer = setInterval(updateCountdown, 1000);
    }

    // Hàm để ngừng bộ đếm ngược khi người dùng nộp bài
    function stopCountdown(event) {
        const confirmSubmit = confirm("Bạn có chắc chắn muốn nộp bài không?");

        if (confirmSubmit) {
            // Nếu người dùng xác nhận, gửi form nộp bài
            getSubmitTime(false);

        } else {
            // Nếu người dùng hủy bỏ, không làm gì cả
            event.preventDefault();
        }

    }


    let index = 1;
    increment = (max)=>{
        if (index < max){
            index++;
            updateVisibility();}
    }
    decrement = ()=>{
        if (index > 1){
            index--;
            updateVisibility();}
    }

    updateIndex = (value)=>{
        index = value;
        updateVisibility();
    }

    updateVisibility = () =>{
        let allQuestion = document.querySelectorAll(".allQuestion")
        allQuestion.forEach((question) =>{
            question.style.display = 'none';
        });
        let currentQuestion = document.getElementById('question-' + index);
        if (currentQuestion) {
            currentQuestion.style.display = 'block';
        }

    }
    window.onload = ()=>{
        startCountdown();
        updateVisibility();
    }


    const radioButtons = document.querySelectorAll('input[type="radio"]');
    radioButtons.forEach(radio =>{
        radio.addEventListener('change', function() {
            const buttonId = this.getAttribute('data-button-id');
            const button = document.getElementById(buttonId);
            button.classList.add("btn-success");
        })
    });

</script>
</body>
</html>